# Table Creation Scripts

In [28]:
import sqlite3 as lite
import sys

In [29]:
%%capture
%load_ext sql

address = '127.0.0.1'
user = 'myadmin'
database = 'csciAppDev.db'

%sql sqlite:///$database

u'Connected: None@csciAppDev.db'

In [21]:
%%time
%%sql
--Development User Table
DROP TABLE IF EXISTS users;
CREATE TABLE users (id INTEGER PRIMARY KEY AUTOINCREMENT, 
                      title TEXT, 
                      description TEXT, 
                      done INTEGER);

Done.
Done.
CPU times: user 2.99 ms, sys: 2.05 ms, total: 5.03 ms
Wall time: 3.88 ms

[]

In [22]:
%sql SELECT name, rootpage, sql FROM sqlite_master WHERE type='table';

Done.

[(u'sqlite_sequence', 3, u'CREATE TABLE sqlite_sequence(name,seq)'),
 (u'users', 2, u'CREATE TABLE users (id INTEGER PRIMARY KEY AUTOINCREMENT, \n                      title TEXT, \n                      description TEXT, \n                      done INTEGER)')]

In [23]:
%%sql 
INSERT INTO users (title, description, done)
VALUES ('dbBuy groceries', 'Milk, Cheese, Pizza, Fruit, Tylenol', 0 ),
       ('dbLearn Python', 'Need to find a good Python tutorial on the web', 0 );

2 rows affected.

[]

In [42]:
%sql select * from users

Done.

[(1, u'test', u'description', 0),
 (2, u'test1', u'description', 0),
 (3, u'test1', u'description', 0)]