# Table Creation Scripts

In [37]:
import sqlite3 as lite
import sys

In [3]:
%%capture
%load_ext sql

address = '127.0.0.1'
user = 'myadmin'
database = 'csciAppDev.db'

%sql sqlite:///$database

u'Connected: None@csciAppDev.db'

In [43]:
%%time
%%sql
--Development User Table
DROP TABLE IF EXISTS users;
CREATE TABLE users (id INTEGER PRIMARY KEY AUTOINCREMENT, 
                      title TEXT, 
                      description TEXT, 
                      done INTEGER);

Done.
Done.
CPU times: user 2.96 ms, sys: 1.83 ms, total: 4.8 ms
Wall time: 5.23 ms

[]

In [4]:
%sql SELECT name, rootpage, sql FROM sqlite_master WHERE type='table';

Done.

[(u'sqlite_sequence', 3, u'CREATE TABLE sqlite_sequence(name,seq)'),
 (u'users', 2, u'CREATE TABLE users (id INTEGER PRIMARY KEY AUTOINCREMENT, \n                      title TEXT, \n                      description TEXT, \n                      done INTEGER)')]

In [5]:
%%sql 
INSERT INTO  users (title, description, done)
VALUES ('dbBuy groceries', 'Milk, Cheese, Pizza, Fruit, Tylenol', 0 ),
       ('dbLearn Python', 'Need to find a good Python tutorial on the web', 0 );

2 rows affected.

[]

In [9]:
%sql select * from users for json

(sqlite3.OperationalError) near "json": syntax error [SQL: u'select * from users for json']