# Table Creation Scripts

In [1]:
import sqlite3 as lite
import sys

In [5]:
%%capture
%load_ext sql

address = '127.0.0.1'
user = 'myadmin'
database = 'csciApp.db'

%sql sqlite:///$database

u'Connected: None@csciApp.db'

In [3]:
%sql SELECT name, rootpage, sql FROM sqlite_master WHERE type='table';

Done.

[(u'sqlite_sequence', 3, u'CREATE TABLE sqlite_sequence(name,seq)'),
 (u'baseline_dev', 6, u'CREATE TABLE baseline_dev (xAxis REAL,yAxis REAL,zAxis REAL,timeStep REAL)'),
 (u'MotionData_temp', 4, u'CREATE TABLE MotionData_temp (xAxis REAL,yAxis REAL,zAxis REAL,timeStep REAL)'),
 (u'MotionData_devHR', 11, u'CREATE TABLE MotionData_devHR (xAxis REAL,yAxis REAL,zAxis REAL,timeStep REAL)'),
 (u'MotionData_dev', 2, u'CREATE TABLE MotionData_dev (id INTEGER PRIMARY KEY AUTOINCREMENT, \n                             xAxis REAL, \n                             yAxis REAL, \n                             zAxis REAL,\n                             timeStep REAL)'),
 (u'MotionData_devBR', 5, u'CREATE TABLE MotionData_devBR (xAxis REAL,yAxis REAL,zAxis REAL,timeStep REAL)')]

In [ ]:
### Create users table for simple registration

In [43]:
%%time
%%sql=
DROP TABLE IF EXISTS users;
CREATE TABLE users (id INTEGER PRIMARY KEY AUTOINCREMENT, title TEXT, description TEXT, done INTEGER);

Done.
Done.
CPU times: user 3.03 ms, sys: 1.93 ms, total: 4.96 ms
Wall time: 5.28 ms

[]

In [23]:
%%sql 
INSERT INTO users (title, description, done)
VALUES ('dbBuy groceries', 'Milk, Cheese, Pizza, Fruit, Tylenol', 0 ),
       ('dbLearn Python', 'Need to find a good Python tutorial on the web', 0 );

2 rows affected.

[]

In [ ]:
### create history table

In [6]:
%%time
%%sql
DROP TABLE IF EXISTS history;
CREATE TABLE history (id INTEGER PRIMARY KEY AUTOINCREMENT, 
                      user id, rateType TEXT, recordedValue REAL, recordedDatetime DATETIME);

Done.
Done.
CPU times: user 3.25 ms, sys: 1.67 ms, total: 4.93 ms
Wall time: 5.59 ms

[]